{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://iotanalytics.amazonaws.com/"
        },
        {
            "url": "http://iotanalytics.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>AWS IoT Analytics allows you to collect large amounts of device data, process messages, and store them. You can then query the data and run sophisticated analytics on it. AWS IoT Analytics enables advanced data exploration through integration with Jupyter Notebooks and data visualization through integration with Amazon QuickSight.</p> <p>Traditional analytics and business intelligence tools are designed to process structured data. IoT data often comes from devices that record noisy processes (such as temperature, motion, or sound). As a result the data from these devices can have significant gaps, corrupted messages, and false readings that must be cleaned up before analysis can occur. Also, IoT data is often only meaningful in the context of other data from external sources. </p> <p>AWS IoT Analytics automates the steps required to analyze data from IoT devices. AWS IoT Analytics filters, transforms, and enriches IoT data before storing it in a time-series data store for analysis. You can set up the service to collect only the data you need from your devices, apply mathematical transforms to process the data, and enrich the data with device-specific metadata such as device type and location before storing it. Then, you can analyze your data by running queries using the built-in SQL query engine, or perform more complex analytics and machine learning inference. AWS IoT Analytics includes pre-built models for common IoT use cases so you can answer questions like which devices are about to fail or which customers are at risk of abandoning their wearable devices.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS IoT Analytics",
        "version": "2017-11-27",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iotanalytics-2017-11-27.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "iotanalytics"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/iotanalytics/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/channels": {
            "get": {
                "description": "Retrieves a list of channels.",
                "operationId": "ListChannels",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "channelSummaries": {
                                            "description": "A list of \"ChannelSummary\" objects.",
                                            "items": {
                                                "description": "A summary of information about a channel.",
                                                "properties": {
                                                    "channelName": {
                                                        "description": "The name of the channel.",
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "^[a-zA-Z0-9_]+$",
                                                        "type": "string"
                                                    },
                                                    "creationTime": {
                                                        "description": "When the channel was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "lastUpdateTime": {
                                                        "description": "The last time the channel was updated.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "The status of the channel.",
                                                        "enum": [
                                                            "CREATING",
                                                            "ACTIVE",
                                                            "DELETING"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "The token to retrieve the next set of results, or <code>null</code> if there are no more results.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a channel. A channel collects data from an MQTT topic and archives the raw, unprocessed messages before publishing the data to a pipeline.",
                "operationId": "CreateChannel",
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "channelArn": {
                                            "description": "The ARN of the channel.",
                                            "type": "string"
                                        },
                                        "channelName": {
                                            "description": "The name of the channel.",
                                            "maxLength": 128,
                                            "minLength": 1,
                                            "pattern": "^[a-zA-Z0-9_]+$",
                                            "type": "string"
                                        },
                                        "retentionPeriod": {
                                            "description": "How long, in days, message data is kept for the channel.",
                                            "properties": {
                                                "numberOfDays": {
                                                    "description": "The number of days that message data is kept. The \"unlimited\" parameter must be false.",
                                                    "minimum": 1,
                                                    "type": "integer"
                                                },
                                                "unlimited": {
                                                    "description": "If true, message data is kept indefinitely.",
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "channelName": {
                                        "description": "The name of the channel.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9_]+$",
                                        "type": "string"
                                    },
                                    "retentionPeriod": {
                                        "description": "How long, in days, message data is kept for the channel.",
                                        "properties": {
                                            "numberOfDays": {
                                                "description": "The number of days that message data is kept. The \"unlimited\" parameter must be false.",
                                                "minimum": 1,
                                                "type": "integer"
                                            },
                                            "unlimited": {
                                                "description": "If true, message data is kept indefinitely.",
                                                "type": "boolean"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "tags": {
                                        "description": "Metadata which can be used to manage the channel.",
                                        "items": {
                                            "description": "A set of key/value pairs which are used to manage the resource.",
                                            "properties": {
                                                "key": {
                                                    "description": "The tag's key.",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "description": "The tag's value.",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "key",
                                                "value"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 50,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "channelName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/channels/{channelName}": {
            "delete": {
                "description": "Deletes the specified channel.",
                "operationId": "DeleteChannel",
                "parameters": [
                    {
                        "in": "path",
                        "name": "channelName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Retrieves information about a channel.",
                "operationId": "DescribeChannel",
                "parameters": [
                    {
                        "in": "path",
                        "name": "channelName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "channel": {
                                            "description": "An object that contains information about the channel.",
                                            "properties": {
                                                "arn": {
                                                    "description": "The ARN of the channel.",
                                                    "type": "string"
                                                },
                                                "creationTime": {
                                                    "description": "When the channel was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "lastUpdateTime": {
                                                    "description": "When the channel was last updated.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "The name of the channel.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "^[a-zA-Z0-9_]+$",
                                                    "type": "string"
                                                },
                                                "retentionPeriod": {
                                                    "description": "How long, in days, message data is kept for the channel.",
                                                    "properties": {
                                                        "numberOfDays": {
                                                            "description": "The number of days that message data is kept. The \"unlimited\" parameter must be false.",
                                                            "minimum": 1,
                                                            "type": "integer"
                                                        },
                                                        "unlimited": {
                                                            "description": "If true, message data is kept indefinitely.",
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "status": {
                                                    "description": "The status of the channel.",
                                                    "enum": [
                                                        "CREATING",
                                                        "ACTIVE",
                                                        "DELETING"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "statistics": {
                                            "description": "Statistics about the channel. Included if the 'includeStatistics' parameter is set to true in the request.",
                                            "properties": {
                                                "size": {
                                                    "description": "The estimated size of the channel.",
                                                    "properties": {
                                                        "estimatedOn": {
                                                            "description": "The time when the estimate of the size of the resource was made.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "estimatedSizeInBytes": {
                                                            "description": "The estimated size of the resource in bytes.",
                                                            "format": "double",
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "Updates the settings of a channel.",
                "operationId": "UpdateChannel",
                "parameters": [
                    {
                        "in": "path",
                        "name": "channelName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "retentionPeriod": {
                                        "description": "How long, in days, message data is kept for the channel.",
                                        "properties": {
                                            "numberOfDays": {
                                                "description": "The number of days that message data is kept. The \"unlimited\" parameter must be false.",
                                                "minimum": 1,
                                                "type": "integer"
                                            },
                                            "unlimited": {
                                                "description": "If true, message data is kept indefinitely.",
                                                "type": "boolean"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/channels/{channelName}/sample": {
            "get": {
                "description": "Retrieves a sample of messages from the specified channel ingested during the specified timeframe. Up to 10 messages can be retrieved.",
                "operationId": "SampleChannelData",
                "parameters": [
                    {
                        "in": "path",
                        "name": "channelName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "payloads": {
                                            "description": "The list of message samples. Each sample message is returned as a base64-encoded string.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "maxItems": 10,
                                            "minItems": 1,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/datasets": {
            "get": {
                "description": "Retrieves information about data sets.",
                "operationId": "ListDatasets",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "datasetSummaries": {
                                            "description": "A list of \"DatasetSummary\" objects.",
                                            "items": {
                                                "description": "A summary of information about a data set.",
                                                "properties": {
                                                    "actions": {
                                                        "description": "A list of \"DataActionSummary\" objects.",
                                                        "items": {
                                                            "description": "<p/>",
                                                            "properties": {
                                                                "actionName": {
                                                                    "description": "The name of the action which automatically creates the data set's contents.",
                                                                    "maxLength": 128,
                                                                    "minLength": 1,
                                                                    "pattern": "^[a-zA-Z0-9_]+$",
                                                                    "type": "string"
                                                                },
                                                                "actionType": {
                                                                    "description": "The type of action by which the data set's contents are automatically created.",
                                                                    "enum": [
                                                                        "QUERY",
                                                                        "CONTAINER"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "maxItems": 1,
                                                        "minItems": 1,
                                                        "type": "array"
                                                    },
                                                    "creationTime": {
                                                        "description": "The time the data set was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "datasetName": {
                                                        "description": "The name of the data set.",
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "^[a-zA-Z0-9_]+$",
                                                        "type": "string"
                                                    },
                                                    "lastUpdateTime": {
                                                        "description": "The last time the data set was updated.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "The status of the data set.",
                                                        "enum": [
                                                            "CREATING",
                                                            "ACTIVE",
                                                            "DELETING"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "triggers": {
                                                        "description": "A list of triggers. A trigger causes data set content to be populated at a specified time interval or when another data set is populated. The list of triggers can be empty or contain up to five DataSetTrigger objects",
                                                        "items": {
                                                            "description": "The \"DatasetTrigger\" that specifies when the data set is automatically updated.",
                                                            "properties": {
                                                                "dataset": {
                                                                    "description": "The data set whose content creation triggers the creation of this data set's contents.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "The name of the data set whose content generation triggers the new data set content generation.",
                                                                            "maxLength": 128,
                                                                            "minLength": 1,
                                                                            "pattern": "^[a-zA-Z0-9_]+$",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "schedule": {
                                                                    "description": "The \"Schedule\" when the trigger is initiated.",
                                                                    "properties": {
                                                                        "expression": {
                                                                            "description": "The expression that defines when to trigger an update. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html\"> Schedule Expressions for Rules</a> in the Amazon CloudWatch documentation.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "maxItems": 5,
                                                        "minItems": 0,
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "The token to retrieve the next set of results, or <code>null</code> if there are no more results.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a data set. A data set stores data retrieved from a data store by applying a \"queryAction\" (a SQL query) or a \"containerAction\" (executing a containerized application). This operation creates the skeleton of a data set. The data set can be populated manually by calling \"CreateDatasetContent\" or automatically according to a \"trigger\" you specify.",
                "operationId": "CreateDataset",
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "datasetArn": {
                                            "description": "The ARN of the data set.",
                                            "type": "string"
                                        },
                                        "datasetName": {
                                            "description": "The name of the data set.",
                                            "maxLength": 128,
                                            "minLength": 1,
                                            "pattern": "^[a-zA-Z0-9_]+$",
                                            "type": "string"
                                        },
                                        "retentionPeriod": {
                                            "description": "How long, in days, message data is kept for the data set.",
                                            "properties": {
                                                "numberOfDays": {
                                                    "description": "The number of days that message data is kept. The \"unlimited\" parameter must be false.",
                                                    "minimum": 1,
                                                    "type": "integer"
                                                },
                                                "unlimited": {
                                                    "description": "If true, message data is kept indefinitely.",
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "actions": {
                                        "description": "A list of actions that create the data set contents.",
                                        "items": {
                                            "description": "A \"DatasetAction\" object that specifies how data set contents are automatically created.",
                                            "properties": {
                                                "actionName": {
                                                    "description": "The name of the data set action by which data set contents are automatically created.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "^[a-zA-Z0-9_]+$",
                                                    "type": "string"
                                                },
                                                "containerAction": {
                                                    "description": "Information which allows the system to run a containerized application in order to create the data set contents. The application must be in a Docker container along with any needed support libraries.",
                                                    "properties": {
                                                        "executionRoleArn": {
                                                            "description": "The ARN of the role which gives permission to the system to access needed resources in order to run the \"containerAction\". This includes, at minimum, permission to retrieve the data set contents which are the input to the containerized application.",
                                                            "maxLength": 2048,
                                                            "minLength": 20,
                                                            "type": "string"
                                                        },
                                                        "image": {
                                                            "description": "The ARN of the Docker container stored in your account. The Docker container contains an application and needed support libraries and is used to generate data set contents.",
                                                            "maxLength": 255,
                                                            "type": "string"
                                                        },
                                                        "resourceConfiguration": {
                                                            "description": "Configuration of the resource which executes the \"containerAction\".",
                                                            "properties": {
                                                                "computeType": {
                                                                    "description": "The type of the compute resource used to execute the \"containerAction\". Possible values are: ACU_1 (vCPU=4, memory=16GiB) or ACU_2 (vCPU=8, memory=32GiB).",
                                                                    "enum": [
                                                                        "ACU_1",
                                                                        "ACU_2"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "volumeSizeInGB": {
                                                                    "description": "The size (in GB) of the persistent storage available to the resource instance used to execute the \"containerAction\" (min: 1, max: 50).",
                                                                    "maximum": 50,
                                                                    "minimum": 1,
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "required": [
                                                                "computeType",
                                                                "volumeSizeInGB"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "variables": {
                                                            "description": "The values of variables used within the context of the execution of the containerized application (basically, parameters passed to the application). Each variable must have a name and a value given by one of \"stringValue\", \"datasetContentVersionValue\", or \"outputFileUriValue\".",
                                                            "items": {
                                                                "description": "An instance of a variable to be passed to the \"containerAction\" execution. Each variable must have a name and a value given by one of \"stringValue\", \"datasetContentVersionValue\", or \"outputFileUriValue\".",
                                                                "properties": {
                                                                    "datasetContentVersionValue": {
                                                                        "description": "The value of the variable as a structure that specifies a data set content version.",
                                                                        "properties": {
                                                                            "datasetName": {
                                                                                "description": "The name of the data set whose latest contents are used as input to the notebook or application.",
                                                                                "maxLength": 128,
                                                                                "minLength": 1,
                                                                                "pattern": "^[a-zA-Z0-9_]+$",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "datasetName"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "doubleValue": {
                                                                        "description": "The value of the variable as a double (numeric).",
                                                                        "format": "double",
                                                                        "type": "number"
                                                                    },
                                                                    "name": {
                                                                        "description": "The name of the variable.",
                                                                        "maxLength": 256,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "outputFileUriValue": {
                                                                        "description": "The value of the variable as a structure that specifies an output file URI.",
                                                                        "properties": {
                                                                            "fileName": {
                                                                                "description": "The URI of the location where data set contents are stored, usually the URI of a file in an S3 bucket.",
                                                                                "pattern": "[\\w\\.-]{1,255}",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "fileName"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "stringValue": {
                                                                        "description": "The value of the variable as a string.",
                                                                        "maxLength": 1024,
                                                                        "minLength": 0,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "name"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "maxItems": 50,
                                                            "minItems": 0,
                                                            "type": "array"
                                                        }
                                                    },
                                                    "required": [
                                                        "image",
                                                        "executionRoleArn",
                                                        "resourceConfiguration"
                                                    ],
                                                    "type": "object"
                                                },
                                                "queryAction": {
                                                    "description": "An \"SqlQueryDatasetAction\" object that uses an SQL query to automatically create data set contents.",
                                                    "properties": {
                                                        "filters": {
                                                            "description": "Pre-filters applied to message data.",
                                                            "items": {
                                                                "description": "Information which is used to filter message data, to segregate it according to the time frame in which it arrives.",
                                                                "properties": {
                                                                    "deltaTime": {
                                                                        "description": "Used to limit data to that which has arrived since the last execution of the action.",
                                                                        "properties": {
                                                                            "offsetSeconds": {
                                                                                "description": "The number of seconds of estimated \"in flight\" lag time of message data. When you create data set contents using message data from a specified time frame, some message data may still be \"in flight\" when processing begins, and so will not arrive in time to be processed. Use this field to make allowances for the \"in flight\" time of your message data, so that data not processed from a previous time frame will be included with the next time frame. Without this, missed message data would be excluded from processing during the next time frame as well, because its timestamp places it within the previous time frame.",
                                                                                "type": "integer"
                                                                            },
                                                                            "timeExpression": {
                                                                                "description": "An expression by which the time of the message data may be determined. This may be the name of a timestamp field, or a SQL expression which is used to derive the time the message data was generated.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "offsetSeconds",
                                                                            "timeExpression"
                                                                        ],
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "maxItems": 1,
                                                            "minItems": 0,
                                                            "type": "array"
                                                        },
                                                        "sqlQuery": {
                                                            "description": "A SQL query string.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "sqlQuery"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 1,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "contentDeliveryRules": {
                                        "description": "When data set contents are created they are delivered to destinations specified here.",
                                        "items": {
                                            "description": "When data set contents are created they are delivered to destination specified here.",
                                            "properties": {
                                                "destination": {
                                                    "description": "The destination to which data set contents are delivered.",
                                                    "properties": {
                                                        "iotEventsDestinationConfiguration": {
                                                            "description": "Configuration information for delivery of data set contents to AWS IoT Events.",
                                                            "properties": {
                                                                "inputName": {
                                                                    "description": "The name of the AWS IoT Events input to which data set contents are delivered.",
                                                                    "maxLength": 128,
                                                                    "minLength": 1,
                                                                    "pattern": "^[a-zA-Z][a-zA-Z0-9_]*$",
                                                                    "type": "string"
                                                                },
                                                                "roleArn": {
                                                                    "description": "The ARN of the role which grants AWS IoT Analytics permission to deliver data set contents to an AWS IoT Events input.",
                                                                    "maxLength": 2048,
                                                                    "minLength": 20,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "inputName",
                                                                "roleArn"
                                                            ],
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "entryName": {
                                                    "description": "The name of the data set content delivery rules entry.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "destination"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 20,
                                        "minItems": 0,
                                        "type": "array"
                                    },
                                    "datasetName": {
                                        "description": "The name of the data set.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9_]+$",
                                        "type": "string"
                                    },
                                    "retentionPeriod": {
                                        "description": "[Optional] How long, in days, message data is kept for the data set. If not given or set to null, the latest version of the dataset content plus the latest succeeded version (if they are different) are retained for at most 90 days.",
                                        "properties": {
                                            "numberOfDays": {
                                                "description": "The number of days that message data is kept. The \"unlimited\" parameter must be false.",
                                                "minimum": 1,
                                                "type": "integer"
                                            },
                                            "unlimited": {
                                                "description": "If true, message data is kept indefinitely.",
                                                "type": "boolean"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "tags": {
                                        "description": "Metadata which can be used to manage the data set.",
                                        "items": {
                                            "description": "A set of key/value pairs which are used to manage the resource.",
                                            "properties": {
                                                "key": {
                                                    "description": "The tag's key.",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "description": "The tag's value.",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "key",
                                                "value"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 50,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "triggers": {
                                        "description": "A list of triggers. A trigger causes data set contents to be populated at a specified time interval or when another data set's contents are created. The list of triggers can be empty or contain up to five <b>DataSetTrigger</b> objects.",
                                        "items": {
                                            "description": "The \"DatasetTrigger\" that specifies when the data set is automatically updated.",
                                            "properties": {
                                                "dataset": {
                                                    "description": "The data set whose content creation triggers the creation of this data set's contents.",
                                                    "properties": {
                                                        "name": {
                                                            "description": "The name of the data set whose content generation triggers the new data set content generation.",
                                                            "maxLength": 128,
                                                            "minLength": 1,
                                                            "pattern": "^[a-zA-Z0-9_]+$",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "name"
                                                    ],
                                                    "type": "object"
                                                },
                                                "schedule": {
                                                    "description": "The \"Schedule\" when the trigger is initiated.",
                                                    "properties": {
                                                        "expression": {
                                                            "description": "The expression that defines when to trigger an update. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html\"> Schedule Expressions for Rules</a> in the Amazon CloudWatch documentation.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 5,
                                        "minItems": 0,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "datasetName",
                                    "actions"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/datasets/{datasetName}": {
            "delete": {
                "description": "<p>Deletes the specified data set.</p> <p>You do not have to delete the content of the data set before you perform this operation.</p>",
                "operationId": "DeleteDataset",
                "parameters": [
                    {
                        "in": "path",
                        "name": "datasetName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Retrieves information about a data set.",
                "operationId": "DescribeDataset",
                "parameters": [
                    {
                        "in": "path",
                        "name": "datasetName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "dataset": {
                                            "description": "An object that contains information about the data set.",
                                            "properties": {
                                                "actions": {
                                                    "description": "The \"DatasetAction\" objects that automatically create the data set contents.",
                                                    "items": {
                                                        "description": "A \"DatasetAction\" object that specifies how data set contents are automatically created.",
                                                        "properties": {
                                                            "actionName": {
                                                                "description": "The name of the data set action by which data set contents are automatically created.",
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "pattern": "^[a-zA-Z0-9_]+$",
                                                                "type": "string"
                                                            },
                                                            "containerAction": {
                                                                "description": "Information which allows the system to run a containerized application in order to create the data set contents. The application must be in a Docker container along with any needed support libraries.",
                                                                "properties": {
                                                                    "executionRoleArn": {
                                                                        "description": "The ARN of the role which gives permission to the system to access needed resources in order to run the \"containerAction\". This includes, at minimum, permission to retrieve the data set contents which are the input to the containerized application.",
                                                                        "maxLength": 2048,
                                                                        "minLength": 20,
                                                                        "type": "string"
                                                                    },
                                                                    "image": {
                                                                        "description": "The ARN of the Docker container stored in your account. The Docker container contains an application and needed support libraries and is used to generate data set contents.",
                                                                        "maxLength": 255,
                                                                        "type": "string"
                                                                    },
                                                                    "resourceConfiguration": {
                                                                        "description": "Configuration of the resource which executes the \"containerAction\".",
                                                                        "properties": {
                                                                            "computeType": {
                                                                                "description": "The type of the compute resource used to execute the \"containerAction\". Possible values are: ACU_1 (vCPU=4, memory=16GiB) or ACU_2 (vCPU=8, memory=32GiB).",
                                                                                "enum": [
                                                                                    "ACU_1",
                                                                                    "ACU_2"
                                                                                ],
                                                                                "type": "string"
                                                                            },
                                                                            "volumeSizeInGB": {
                                                                                "description": "The size (in GB) of the persistent storage available to the resource instance used to execute the \"containerAction\" (min: 1, max: 50).",
                                                                                "maximum": 50,
                                                                                "minimum": 1,
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "computeType",
                                                                            "volumeSizeInGB"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "variables": {
                                                                        "description": "The values of variables used within the context of the execution of the containerized application (basically, parameters passed to the application). Each variable must have a name and a value given by one of \"stringValue\", \"datasetContentVersionValue\", or \"outputFileUriValue\".",
                                                                        "items": {
                                                                            "description": "An instance of a variable to be passed to the \"containerAction\" execution. Each variable must have a name and a value given by one of \"stringValue\", \"datasetContentVersionValue\", or \"outputFileUriValue\".",
                                                                            "properties": {
                                                                                "datasetContentVersionValue": {
                                                                                    "description": "The value of the variable as a structure that specifies a data set content version.",
                                                                                    "properties": {
                                                                                        "datasetName": {
                                                                                            "description": "The name of the data set whose latest contents are used as input to the notebook or application.",
                                                                                            "maxLength": 128,
[...]
